[submodule "deps/nvcore"]
	path = deps/nvcore
	url = https://github.com/lwdjohari/nvcore.git
[submodule "deps/pqxx-v7"]
	path = deps/pqxx-v7
	url = https://github.com/jtv/libpqxx.git
[submodule "deps/abseil-lts20230125.1"]
	path = deps/abseil-lts20230125.1
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2023_01_25
