[submodule "deps/nvcore"]
	path = deps/nvcore
	url = https://github.com/lwdjohari/nvcore.git
[submodule "deps/pqxx-v7"]
	path = deps/pqxx-v7
	url = https://github.com/jtv/libpqxx.git
[submodule "deps/nvserv-core"]
	path = deps/nvserv-core
	url = https://github.com/lwdjohari/nvserv-core.git
